@tailwind base;
@tailwind components;
@tailwind utilities;

.purple-text-gradient {
  background: linear-gradient(to right, #8000ff 20%, #e100ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  * {
    @apply border-border;
  }
}

@layer base {
  :root {
    --background: 260 80% 4%;
    --foreground: 0 0% 98%;
    --card: 256 75% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 260 80% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 258 95% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 258 95% 68%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 258 95% 40%;
    --input: 240 3.7% 15.9%;
    --ring: 258 95% 68%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 260 80% 4%;
    --foreground: 0 0% 98%;
    --card: 256 75% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 260 80% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 258 95% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 258 95% 68%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 258 95% 40%;
    --input: 240 3.7% 15.9%;
    --ring: 258 95% 68%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
